.aside .logo a::before {
    border-top: 4px solid #b65293;
    border-left: 4px solid #b65293;
}

.aside .logo a::after {
    border-right: 4px solid #b65293;
    border-bottom: 4px solid #b65293;
}

.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.gallery .gallery-item .gallery-info .icon .fa,
.gallery .gallery-filter button.active,
.interests .interests-item .interests-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: #b65293;
}

.interests .interests-item .interests-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
    background-color: #b65293;
}

.gallery .gallery-filter button.active {
    border-color: #b65293;
}